{%extends "base.html"%}
{% block content %}
<div class="jumbotron">
    {% if current_user.is_authenticated %}
    <h1 class="text-center" style="padding-top: 1rem;">Hello, {{current_user.firstname}}.<br> Welcome to the auction site.
      {%if current_user.is_admin == True%}<br><h4 class="text-center" style="padding-top: 1rem;">Your also an Admin!</h4>{%endif%}
    </h1>
    
    {%else%}
    <h1 class="text-center" style="padding-top: 1rem;">Please login or register</h1>
    {%endif%}
</div>
{% endblock %}