{%extends "base.html"%}
{% block content %}
<div class="mb-3 container-sm" style="max-width: 40%;">
    <form method="post">
        {{form.hidden_tag()}}
        {{form.email.label (class="form-control-md")}}<br>
        {{form.email(class="form-control")}}<br>
        {{form.firstname.label (class="form-control-md")}}<br>
        {{form.firstname(class="form-control")}}<br>
        {{form.lastname.label (class="form-control-md")}}<br>
        {{form.lastname(class="form-control")}}<br>
        {{form.contactInfo.label (class="form-control-md")}}<br>
        {{form.contactInfo(class="form-control", rows="3")}}<br>
        {{form.phoneNum.label (class="form-control-md")}}<br>
        {{form.phoneNum(class="form-control")}}<br>
        {{form.password.label (class="form-control-md")}}<br>
        {{form.password(class="form-control")}}<br>
        {{form.pass_confirm.label (class="form-control-md")}}<br>
        {{form.pass_confirm(class="form-control")}}<br>
        {{form.is_admin.label (class="form-control-md")}}{{form.is_admin(style="margin-left:2rem;")}}<br>
        {{form.submit(style="margin-top:1rem;",class="btn btn-dark")}}
    </form>
</div>
{% endblock %}