/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.quiz-container, .leaderboard-container {
    max-width: 600px;
    margin: 0 auto;
}

.question {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: aqua;
    color: bisque;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

a {
    display: inline-block;
    margin-top: 20px;
    color:cornflowerblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
