{%extends "base.html"%}

{% block content %}


    {% if current_user.is_authenticated %}
    <h2 class="text-center text-white" style="padding-top: 1rem;font-family: Zubilo Black W01 Regular">Hello, {{current_user.firstname}}.<br>Welcome back!
    </h2>
    <a href="{{url_for('Quiz')}}"><image class="floating img-fluid mx-auto d-block" src="{{ url_for('static', filename='images/QuizMe.png') }}"></image></a>
    {%else%}
    <image class="floating img-fluid mx-auto d-block" src="{{ url_for('static', filename='images/description_bubble.png') }}"></image>
    {%endif%}
    

{% endblock %}

