{%extends "base.html"%}

{% block content %}


<div class="jumbotron">
    {% if current_user.is_authenticated %}
    <h1 class="text-center" style="padding-top: 1rem;">Hello, {{current_user.firstname}}.<br> Welcome to the trivia site.
      {%if current_user.is_admin == True%}<br><h4 class="text-center" style="padding-top: 1rem;">Your also an Admin!</h4>{%endif%}
    </h1>
    
    {%else%}
    <h1 class="text-center" style="padding-top: 1rem;">Please login or register</h1>
    {%endif%}
    
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front" style="width:50rem;height:250px;">
         <h4>{{questions['results'][0]['question']}}</h4>
          <div class="form-check text-start" style="padding-left: 2rem;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label h4" for="flexRadioDefault1">
              {{questions['results'][0]['incorrect_answers'][0]}}
            </label>
          </div>
          <div class="form-check text-start" style="padding-left: 2rem;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
            <label class="form-check-label h4" for="flexRadioDefault2">
              {{questions['results'][0]['correct_answer']}}
            </label>
          </div>
          <div class="form-check text-start" style="padding-left: 2rem;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label h4" for="flexRadioDefault2">
              {{questions['results'][0]['incorrect_answers'][1]}}
            </label>
          </div>
          <div class="form-check text-start" style="padding-left: 2rem;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label h4" for="flexRadioDefault2">
              {{questions['results'][0]['incorrect_answers'][2]}}
            </label>
          </div>
        </div>

        <div class="flip-card-back">
          <h1>Answer: {{questions['results'][0]['correct_answer']}}</h1> 
        </div>

      </div>
    </div>
</div>

<style>
.flip-card {
  margin-left: 20rem;
  background-color: transparent;
  width: 50rem;
  height: 250px;
  perspective: 1000px;
  border-radius: 2%;
} 


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transition-delay: 2s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #dedede;
  color: black;
}


.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
}
</style>
{% endblock %}

