{%extends "base.html"%}
{% block content %}
<h3 class="text-center" style="padding-top: 2rem; text-decoration: underline;">List of items in auction</h3>
<div class="text-center">(End time in <font color="green">Green</font> are active auctions and end times in <font color="red">Red</font> are closed auctions)</div>
<table class="table table-striped" style="margin-top: 2rem;">
  <thead>
  <tr>
      <th>Title</th>
      <th>Description</th>
      <th style="padding-left: 1rem;">Bid</th>
      <th>Highest Bidder</th>
      <th style="padding-left: 1rem;">End Time</th>
  </tr>
  </thead>
  <tbody>
      <tr>{%for item in items %}
          <td>{% if item.endTime > dateNow%}<a href="ItemID/{{item.id}}">{%endif%}{{item.Title}}</a></td>
          <td>{{item.description}}</td>
          <td>${{item.Bid}}</td>
          <td>{%for highBid in highbidder %}
            {% if highBid.id == item.highestBidder %}
            {{highBid.firstname}}
            {%endif%}
            {%endfor%}</td>
          <td>{% if item.endTime < dateNow%}<p style="color:red;">{{item.endTime}}</p>{%else%}<p style="color:green;">{{item.endTime}}</p>{%endif%}</td>
      </tr>
      {%endfor%}
  </tbody>
</table>
{% endblock %}