{%extends "base.html"%}
{% block content %}
<div class="mb-3 container-sm text-white" style="max-width: 40%;font-family: Zubilo Black W01 Regular">
    <form method="post">
        {{form.hidden_tag()}}
        {{form.email.label (class="form-control-md")}}<br>
        {{form.email(class="form-control")}}<br>
        {{form.password.label (class="form-control-md")}}<br>
        {{form.password(class="form-control")}}<br>
        {{form.submit(style="margin-top:1rem;",class="btn btn-dark")}}
    </form>
</div>
{% endblock %}