{%extends "base.html"%}
{% block content %}
  <h3 class="text-center text-white" style="padding-top: 2rem; font-family: Zubilo Black W01 Regular">Profile</h3>
  <table class="table table-striped" style="margin-top: 2rem;">
    <thead>
    <tr>
        <th>First Name</th>
        <th >Last Name</th>
        <th>Email</th>
        <th >Phone Number</th>
        <th >Contact Info</th>
        <th >Score</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{current_user.firstname}}</td>
            <td>{{current_user.lastname}}</td>
            <td>{{current_user.email}}</td>
            <td>{{current_user.phoneNum}}</td>
            <td>{{current_user.contactInfo}}</td>
            <td>{{current_user.score}}</td>
        </tr>
    </tbody>
  </table>
{% endblock %}