{%extends "base.html"%}
{% block content %}
<table>
    <thead>
    <tr>
        <th>Prefix<p></p></th>
        <th>First Name<p></p></th>
        <th>Last Name<p></p></th>
        <th>Company<p></p></th>
        <th>Motto<p></p></th>
    </tr>
    </thead>
    <tbody>
        <tr>{%for owner in owners %}
            <td>{{owner.owner.prefix}}<p></p></td>
            <td>{{owner.owner.firstName}}<p></p></td>
            <td>{{owner.owner.lastName}}<p></p></td>
            <td>{{owner.company}}<p></p></td>
            <td>{{owner.motto}}<p></p></td>
        </tr>{%endfor%}
    </tbody>
</table>
{% endblock %}