<!--leaderboard.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Leaderboard</h1>
    <div class="leaderboard-container">
        <ol>
            {% for user, score in leaderboard %}
                <li>{{ user }} - Score: {{ score }}</li>
            {% endfor %}
        </ol>
    </div>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>

</body>
</html>
